.wrapper {
    width: 100%;
    margin: 0 auto;
    padding: 30px;
    display: flex;
    min-height: calc(100vh);
    overflow-y: auto;
    background-color: slategray;
    justify-items: center;
    overflow: auto;
}
