.wrapper {
    width: '100vw';
    margin: 0;
    padding: 0;
    display: flex;
    min-height: calc(100vh);
    overflow-y: auto;
    background-color: gray;
    justify-items: center;
    overflow: auto;
}
